.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.is-light-blue{
  background-color: #27aee8;
}
.is-light-blue-bold {
  background: rgba(39,174,232,1);
  background: -moz-linear-gradient(-45deg, rgba(39,174,232,1) 0%, rgba(125,194,219,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(39,174,232,1)), color-stop(100%, rgba(125,194,219,1)));
  background: -webkit-linear-gradient(-45deg, rgba(39,174,232,1) 0%, rgba(125,194,219,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(39,174,232,1) 0%, rgba(125,194,219,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(39,174,232,1) 0%, rgba(125,194,219,1) 100%);
  background: linear-gradient(135deg, rgba(39,174,232,1) 0%, rgba(125,194,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27aee8', endColorstr='#7dc2db', GradientType=1 );
}

.is-top {
  align-items: flex-start !important;
}

.short {
  width: 90%;
  margin: 0 auto;
}

.short-p {
  padding: 0 5%;
}

.progress {
  margin-top: 10px;
}
